<div class="row" style="padding:15px 20px;">
    <div class="col-xs-12">
        <div class="variableSetting">
            <a class="return" (click)="cancel()" style="cursor: pointer;"><i class="icon iconfont">&#xe614;</i>返回</a>
            <div class="variable-attr">
                <div class="var-title">域属性<i class="icon iconfont fr" (click)="toggleBasicInfo()" innerHTML="{{isShowAttribute ? '&#xe7ff;' : '&#xe61a;'}}">&#xe6b6;</i></div>
                <div [ngClass]="{'modle-content':true,'hidden': !isShowAttribute}">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>创建人:</label>
                            <input type="text" class="form-control required" [ngModel]="domainDetail.CreateUserName" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label>最后修改人:</label>
                            <input type="text" class="form-control" [ngModel]="domainDetail.UpdateUserName" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>创建时间:</label>
                            <input type="text" class="form-control required" [ngModel]="domainDetail.CreateTime | date:'y年M月d日 HH:mm:ss'" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label>最后修改时间:</label>
                            <input type="text" class="form-control" [ngModel]="domainDetail.UpdateTime | date:'y年M月d日 HH:mm:ss'" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>所属标准:</label>
                            <input type="text" class="form-control required" [ngModel]="domainDetail.StandardName" readonly="readonly" />
                        </div>
                        <!--<div class="form-group">
                            <label>所属域:</label>
                            <input type="text" class="form-control" [ngModel]="domainDetail.DomainName" readonly="readonly" />
                        </div>-->
                    </div>
                </div>
            </div>

            <form (ngSubmit)="ok()">
                <div class="switchsArea">
                    <div class="apply-title pull-right">
                        <span>{{enumApprovalStatus[domainDetail.ApprovedStatus]}}</span>
                        <button type="button" class="btn btn-green" (click)="showStandardLog()">审核日志</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="var-title">
                        <ul>
                            <li *ngFor="let item of domainEditorTab" [ngClass]="{'current' : (currentEditorTab.key === item.key)}" (click)="changSelectedTab(item)" [title]="item.name">
                                <span></span><b>{{item.name}}</b>
                            </li>
                        </ul>
                    </div>
                    <div class="modle-content">
                        <div [ngStyle]="{'height.px':editorHeight,'overflow-y':'auto','overflow-x':'hidden'}">
                            <div *ngIf="currentEditorTab.key === 'basic'" class="model-area">
                                <div class="switch-table gray-bg" style="width: 49%; float: left; margin: 0 1% 0 0">
                                    <h6 class="bz-title">基本设置</h6>
                                    <div class="form-group">
                                        <label>域中文名称</label>
                                        <input type="text" class="form-control required" name="DomainName" [(ngModel)]="domainDetail.DomainName" [ngModelOptions]="{standalone: true}" required="required" maxlength="20">
                                        <i>*</i>
                                    </div>
                                    <div class="form-group">
                                        <label>域缩写</label>
                                        <input type="text" class="form-control required" name="DomainAbb" [(ngModel)]="domainDetail.DomainAbb" [ngModelOptions]="{standalone: true}" maxlength="10">
                                    </div>
                                    <div class="form-group">
                                        <label>域代码</label>
                                        <input type="text" class="form-control required" name="DomainCode" [(ngModel)]="domainDetail.DomainCode" [ngModelOptions]="{standalone: true}" required="required" maxlength="30">
                                        <i>*</i>
                                    </div>
                                    <div class="form-group">
                                        <label>域描述</label>
                                        <div class="textarea-edit">
                                            <textarea class="form-control" rows="3" name="DomainDesc" [(ngModel)]="domainDetail.DomainDesc" [ngModelOptions]="{standalone: true}" maxlength="300"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>域观测类别</label>
                                        <select class="form-control m-b" name="DomainType" [(ngModel)]="domainDetail.DomainType" [ngModelOptions]="{standalone: true}">
                                            <option value="0"></option>
                                            <option *ngFor="let item of enumDomainObservationType | enumKeyValues" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>域填写指南</label>
                                        <div class="textarea-edit">
                                            <textarea class="form-control" rows="3" name="DomainGuide" [(ngModel)]="domainDetail.DomainGuide" [ngModelOptions]="{standalone: true}" maxlength="300"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="switch-table gray-bg" style="width: 49%; float: right; margin: 0 0 0 1%">
                                    <h6 class="bz-title">Primary Configuration</h6>
                                    <div class="form-group">
                                        <label>Domain</label>
                                        <input type="text" class="form-control required" name="DomainNameEn" [(ngModel)]="domainDetail.DomainNameEn" [ngModelOptions]="{standalone: true}" required="required" maxlength="100">
                                        <i>*</i>
                                    </div>
                                    <div class="form-group">
                                        <label>Describe</label>
                                        <div class="textarea-edit">
                                            <textarea class="form-control" rows="3" name="DomainDescEn" [(ngModel)]="domainDetail.DomainDescEn" [ngModelOptions]="{standalone: true}" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Observation</label>
                                        <select class="form-control m-b" name="DomainType" [(ngModel)]="domainDetail.DomainType" [ngModelOptions]="{standalone: true}">
                                            <option value="0"></option>
                                            <option *ngFor="let item of enumDomainObservationTypeEn | enumKeyValues" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Complete Guide</label>
                                        <div class="textarea-edit">
                                            <textarea class="form-control" rows="3" name="DomainGuideEn" [(ngModel)]="domainDetail.DomainGuideEn" [ngModelOptions]="{standalone: true}" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="currentEditorTab.key === 'synonym'" class="model-area">
                                <div class="switch-table gray-bg">
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTable dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 5%;">序号</th>
                                                        <th style="width: 90%;">同义词域名</th>
                                                        <th style="width: 5%;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of domainDetail.SynonymDomains;let i = index;">
                                                        <td>{{i+1}}</td>
                                                        <td><input type="text" [(ngModel)]="item.SynonymDomainName" [ngModelOptions]="{standalone: true}" placeholder="同义词域名" style="width: 95%" required="required" /></td>
                                                        <td class="deletes">
                                                            <i class="icon iconfont" (click)="deleteSynonym(i)">&#xe60e;</i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="buttons addButton">
                                        <button type="button" class="btn btn-apply" (click)="addSynonym()">
                                            <i class="icon iconfont">&#xe616;</i>添加
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue-default" (click)="cancel()">取消</button>
                    <button type="submit" class="btn btn-blue">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>