/**复制域*/
.table-box{ border-radius:0; background-color:#fff;}
.table-hover tr:hover td{background:none; color:#77879f}
.table-hover tr.current:hover td{background-color:#c7d4e6; color:#515e75}
.table-hover tr th{ background-color:#ebf2fb}
.table-hover tr span,.table-hover tr span{ height:17px;display:inline-block }
.copyYuTable .table_title{ background-color:#d9e1ed}
.copyYuTable .mCustomScrollbar{border:#ddd 1px solid; border-top:none;}
.copyYuTable:first-child{ border-left:none;}
.copyYuTable .table-bordered tr th{ border-right:none;}
.copyYuTable .table_title{border-right:#ddd 1px solid;}
.copyYuTable .table-hover tr td{border-right:none;border-left:none;}
.copyYuTable .table-bordered{border-right:none;border-left:none;}
.copyYuTable .table-bordered tr td{ border-left:none;border-right:none;}

.current{background-color: #4ebefb}
