<!--模态框内容，ng会自动加上外层的div，以满足bootsrap模态框结构  -->
<div class="modal-content changePassword">
    <div class="modal-header">
        <button type="button" class="close" (click)="cancel()">
            <span aria-hidden="true" class="icon iconfont">&#xe6cc;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">修改用户密码</h4>
    </div>
    <div class="modal-body">
        <!--修改密码的表单-->
        <form>
            <!--bootstrap要求：在外层加上form-group可以获得最好的排列-->
            <div class="form-group">
                <label for="old_password">原密码</label>
                <input [(ngModel)]="old_password"  [ngModelOptions]="{standalone: true}"  type="password" class="form-control" id="old_password" placeholder="请输入原密码">
            </div>
            <div class="form-group">
                <label for="new_password">新密码</label>
                <input [(ngModel)]="new_password"  [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="new_password" placeholder="请输入新密码">
            </div>
            <div class="form-group">
                <label for="new_password_again">重新输入新密码</label>
                <input [(ngModel)]="new_password_again"  [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="new_password_again" placeholder="请重新输入新密码">
            </div>
            <button type="button" class="btn btn-default" (click)="checkPassword(new_password,old_password,new_password_again)">提 交</button>
        </form>
    </div>
</div>