<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="cancel()"><span aria-hidden="true" class="icon iconfont">&#xe6cc;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">概念属性编辑</h4>
    </div>
    <form (ngSubmit)="ok()">
        <div class="modal-body">
            <div *ngIf="context.curAttribute.AttributeType === enumAttributeType['普通属性']" class="attribute-edit">
                <div>{{context.curAttribute.AttributeName}}</div>
                <div class="textarea-edit" *ngIf="context.curAttribute.ControlType === enumAttributeInputControlType['文本框']">
                    <!-- 文本 -->
                    <input type="text" class="form-control" [(ngModel)]="context.curAttribute.AttributeValue" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="textarea-edit" *ngIf="context.curAttribute.ControlType === enumAttributeInputControlType['多行文本框']">
                    <!-- 文本 -->
                    <textarea rows="3" class="form-control" [(ngModel)]="context.curAttribute.AttributeValue" [ngModelOptions]="{standalone: true}" style="height: 80px;"></textarea>
                </div>
                <div class="textarea-edit" *ngIf="context.curAttribute.ControlType === enumAttributeInputControlType['数值']">
                    <!-- 数字 -->
                    <input type="number" class="form-control" [(ngModel)]="context.curAttribute.AttributeValue" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="textarea-edit" *ngIf="context.curAttribute.ControlType === enumAttributeInputControlType['单选']">
                    <!-- 下拉选择单选 -->
                    <select class="form-control m-b" [(ngModel)]="context.curAttribute.AttributeValue" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let item of context.curAttribute.OptionItems" value="{{item}}">{{item}}</option>
                    </select>
                </div>
                <div [ngClass]="{'textarea-edit':true,'hidden':(context.curAttribute.ControlType !== enumAttributeInputControlType['多选'])}">
                    <!-- 下拉多选 -->
                    <select class="form-control m-b selectpicker" data-none-selected-text="请选择..." multiple>
                        <option *ngFor="let item of context.curAttribute.OptionItems" value="{{item}}">{{item}}</option>
                    </select>
                </div>
                <div class="textarea-edit" *ngIf="context.curAttribute.ControlType === enumAttributeInputControlType['日期录入']">
                    <!-- 日期 -->
                    <input type="date" class="form-control" [(ngModel)]="context.curAttribute.AttributeValue" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <div *ngIf="context.curAttribute.AttributeType === enumAttributeType['关系属性']" class="gainian-edit">
                <div class="dropdown">
                    <p class="s-text textshow" aria-haspopup="true" aria-expanded="false" [title]="selectedConceptName" #dropDownTrigger>
                        {{selectedConceptName}}<i class="icon iconfont" style="cursor: pointer;">&#xe6b6;</i>
                    </p>
                    <div class="dropdown-menu" role="menu" style="width: 100%; max-height: 200px; overflow-y: scroll; overflow-x: hidden;">
                        <div class="tree">
                            <ul class="ztree" [attr.id]="conceptTreeId"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-blue-default" (click)="cancel()">取消</button>
            <button type="submit" class="btn btn-blue">确认</button>
        </div>
    </form>
</div>