.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown a {
    color: #a4b5d0;
}

.dropdown-menu > li > a {
    color: #a4b5d0;
}

    .dropdown-menu > li > a:hover {
        color: #4f5c76;
    }


