.filterMain {
    max-height: 600px;
    overflow: hidden;
}

.searchText {
    text-align: center;
}

.sourceTree {
    float: left;
    width: 20%;
    height: 600px;
    overflow: hidden;
}

.filterSetting {
    float: right;
    width: 79%;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.treeArea {
    height: 570px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-primary {
    border: solid 1px #4ebefb;
}


